<div>
    <h2 id="today-name"></h2>
    <canvas id="today-icon" width="128" height="128"></canvas>
    <h3 id="today-summary"></h3>
    <div class="temperature">
        <span id="today-temperature"></span>
        <p>Fahrenheit</p>
    </div>
    <p id="today-location"></p>

    <h3 id="today-time"></h3>
</div>

<div class="today-extra-info">
    <div><h3>Humidity:</h3><p id="today-humidity"></p></div>
    <div><h3>Pressure:</h3><p id="today-pressure"></p></div>
    <div><h3>Wind Speed:</h3><p id="today-windSpeed"></p></div>
    <div><h3>UV Index:</h3><p id="today-uvIndex"></p></div>
</div>