<div>
    <h2 id="today-name"></h2>
    <canvas id="today-icon" width="128" height="128"></canvas>
    <h3 id="today-summary"></h3>
    <div id="today-temperature">
        <span id=></span>
        <p></p>
    <p id="today-location"></p>
    <h3 id="today-time"></h3>
</div>

<div>
    <h3>Humidity: </h3><span id="today-humidity"></span>
    <h3>Pressure: </h3><span id="today-pressure"></span>
    <h3>Wind Speed: </h3><span id="today-windSpeed"></span>
    <h3>UV Index: </h3><span id="today-uvIndex"></span>
</div>